 :root {
     --primary-background-clr: linear-gradient(266deg, #0F0F0F 48.20%, #181818 100%);
     --secondary-background-clr: linear-gradient(44deg, #131313 0%, #161616 39.00%, #232323 100%);
     --primary-clr: #E7E6E6;
     --secondary-clr: #DD1F27;
     --neutral-clr: #838D8D;
     --ff-primary: 'Poppins', sans-serif;
     --ff-secondary: 'Syncopate', sans-serif;
     --fw-bold: 700;
     --fw-medium: 500;
     --fw-regular: 400;
     --fw-light: 300;
     --fz-600: 76px;
     --fz-500: 64px;
     --fz-400: 48px;
     --fz-300: 36px;
     --fz-200: 32px;
     --fz-100: 24px;
     --fz-50: 20px;
 }

 .max-flex-container {
     max-width: 1920px;
     margin: 0 auto;
     position: relative;
 }

 a {
     text-decoration: none;
 }

 .hidden {
     opacity: 0;
     filter: blur(5px);
     transform: translateY(30%);
     transition: all 1s;
 }

 .show {
     opacity: 1;
     filter: blur(0);
     transform: translateY(0);
     transform: translateX(0);
 }

 button {
     padding: 0;
     margin: 0;
 }

 body {
     padding: 0;
     margin: 0;
 }

 .main-container {
     background: #000;
     height: 100%;
     overflow: hidden;
 }

 .Section {
     margin: 0 200px;
 }

 .Sections {
     padding-top: 150px;
     padding-bottom: 150px;
 }

 .cercle {
     position: fixed;
     bottom: 2%;
     right: 2%;
     z-index: 9999999;
     cursor: pointer;
     border-radius: 50%;
     display: none;
 }

 .ssticky {
     display: block;
 }

 .section-title {
     font-family: var(--ff-primary);
     font-weight: var(--fw-bold);
     font-size: var(--fz-500);
     color: var(--secondary-clr);
 }

 /*--Navbar--*/

 .navbar {
     display: flex;
     justify-content: space-between;
     padding-top: 30px;
 }

 .nav-items {
     display: flex;
     align-items: center;
     gap: 50px;
 }

 .nav-item {
     position: relative;
     transition: 0.5s all;
 }

 .nav-item a {
     color: var(--primary-clr);
     font-family: var(--ff-primary);
     font-weight: var(--fw-bold);
     font-size: var(--fz-100);
     transition: 0.7s all;
 }

 .currentclick a {
     color: var(--secondary-clr);
 }

 .currentclick {
     margin-bottom: 20px;
 }

 .currentclick::after {
     content: " ";
     position: absolute;
     top: 100%;
     left: 50%;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: var(--secondary-clr);
     animation: jojo 0.7s;
 }

 @keyframes jojo {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 100%;
     }
 }

 /*--/Navbar--*/

 /*--first_vue--*/

 .first_vue {
     display: flex;
     justify-content: end;
     gap: 100px;
     margin-top: 100px;
 }

 .present {
     font-size: var(--fz-600);
     font-family: var(--ff-primary);
     font-weight: var(--fw-bold);
     color: var(--primary-clr);
 }

 .name {
     color: var(--secondary-clr);
 }

 .second-present {
     font-size: var(--fz-400);
     font-family: var(--ff-primary);
     font-weight: var(--fw-medium);
     color: var(--primary-clr);
     margin-bottom: 50px;
 }

 .first_vue_speech {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .first_vue_image {
     margin-bottom: 50px;
 }

 .button {
     background: var(--secondary-clr);
     border-radius: 10px;
     color: var(--primary-clr);
     font-size: var(--fz-100);
     font-family: var(--ff-primary);
     font-weight: var(--fw-bold);
     padding: 16px 52px;
     margin-right: 10px;
     cursor: pointer;
     transition: 0.3s all;
     border: 2px solid transparent;
     position: relative;
 }

 .button:focus {
     background: var(--secondary-clr);
 }

 .button:hover {
     background-color: transparent;
     border-color: var(--secondary-clr);
     color: var(--secondary-clr);
 }

 .sticky {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: rgba(19, 19, 19, 1);
     margin: 0 auto;
     z-index: 999999999;
     padding-top: 10px;
     padding-bottom: 10px;
     transition: all 0.3s;
 }

 .sticky .navbar {
     margin: 0 200px;
     padding-top: 0;
 }

 .navbar-logo {
     transition: 0.5s all;
 }

 .navbar-logo:hover {
     transform: scale(1.05);
 }

 /*--/first_vue--*/

 /*--aboutme--*/

 .jojo {
     display: flex;
     flex-direction: column;
 }

 .aboutme {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 70px;
     text-align: center;
 }

 .aboutme-speech {
     width: 60%;
     margin: 0 auto;
     font-family: var(--ff-primary);
     font-weight: var(--fw-regular);
     font-size: var(--fz-50);
     color: var(--primary-clr);
 }

 .aboutme-achieves {
     display: flex;
     gap: 60px;
     margin-bottom: 100px;
 }

 .Number {
     font-size: var(--fz-600);
     font-family: var(--ff-secondary);
     font-weight: var(--fw-medium);
     color: var(--primary-clr);
 }

 .Number-speech {
     color: var(--neutral-clr);
     font-size: var(--fz-50);
     font-weight: var(--fw-light);
     font-family: var(--ff-primary);
 }

 /*--/aboutme--*/

 /*--Sponsor--*/

 .spn a img {
     opacity: 0.2;
     transition: 1s all;
 }

 .sponsor {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .sponsor-container {
     background-color: #131313;
     padding: 20px 0;
     margin-bottom: 100px;
     border-top: 1px solid #202020;
     border-bottom: 1px solid #202020;
 }

 .sponsor-container2 {
     display: none;
 }

 .spn {
     transition: 0.5s all;
 }

 .spn a {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .spn:hover img {
     opacity: 1;
 }

 .spn:hover {
     transform: translateY(5%);
 }

 .spn1 {
     display: flex;
     gap: 220px;
     align-items: center;
     animation: cross 12s linear infinite;
 }

 .spn2 {
     position: absolute;
     display: flex;
     align-items: center;
     gap: 220px;
     transform: translateX(120%);
     animation: cross 12s linear infinite;
     animation-delay: -6s;
 }

 @keyframes cross {
     0% {
         transform: translateX(120%);
     }
     100% {
         transform: translateX(-120%);
     }
 }

 /*--/Sponsor--*/

 /*--Services--*/

 .services {
     display: flex;
     flex-direction: column;
     gap: 70px;
     text-align: center;
 }

 .services-cards {
     display: flex;
     justify-content: center;
     gap: 100px;
 }

 .services-card-logo {
     height: 48px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .services-card {
     max-width: 370px;
     display: flex;
     flex-direction: column;
     gap: 30px;
     background: var(--secondary-background-clr);
     padding: 47px 22px;
     border-radius: 15px;
     border: 1px solid #2D2D30;
     transition: all 0.7s;
 }

 .services-card:nth-child(2) {
     transition-delay: 200ms;
 }

 .services-card:nth-child(3) {
     transition-delay: 400ms;
 }

 .services-card:hover {
     transform: scale(1.1);
     background: linear-gradient(225deg, #D31E26 0%, #AF131A 100%);
     border-color: transparent;
 }

 .services-card:hover .services-card-speech {
     color: #fff;
 }

 .services-card-title {
     font-family: var(--ff-primary);
     font-size: var(--fz-300);
     font-weight: var(--fw-medium);
     color: var(--primary-clr);
 }

 .services-card-speech {
     font-family: var(--ff-primary);
     color: var(--neutral-clr);
     font-weight: var(--fw-regular);
     font-size: var(--fz-50);
     transition: all 0.7s;
 }

 /*--/Services--*/

 /*--Works--*/

 .works-card-intern {
     transition: all 0.7s;
 }

 .works-card-intern img {
     border-radius: 15px;
 }

 .works-card-intern img {
     width: 500px;
 }

 .works-card-intern:hover {
     transform: scale(1.05);
     opacity: 0.3;
 }

 .works-card-extern {
     color: var(--primary-clr);
     font-weight: var(--fw-medium);
     font-family: var(--ff-primary);
     font-size: var(--fz-300);
     margin-top: 20px;
 }

 .works-cards {
     display: flex;
     justify-content: center;
     gap: 80px;
 }

 .Works {
     display: flex;
     flex-direction: column;
     gap: 70px;
     text-align: center;
     transition: 0.7s all;
 }

 .active .Works {
     filter: blur(5px);
 }

 .works-container {
     position: relative;
     overflow: hidden;
 }

 .arrow {
     position: absolute;
     z-index: -1;
     bottom: 10%;
     right: 0%;
 }

 .arrow img {
     width: 30px;
 }

 .popup {
     position: fixed;
     width: 85%;
     height: 80%;
     border-radius: 10px;
     background: #232323;
     top: 15%;
     left: 10%;
     opacity: 0;
     transform: translateY(-50%);
     transition: 1s all;
     z-index: -1;
     padding-top: 50px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
 }

 .popup-settings {
     display: flex;
     justify-content: center;
     position: relative;
     align-items: center;
 }

 .popup-button {
     position: absolute;
     top: 0;
     right: 5%;
 }

 .popup-button button {
     background-color: transparent;
     border: none;
     cursor: pointer;
 }

 .pop-up-title {
     font-size: var(--fz-400);
     font-family: var(--ff-primary);
     font-weight: var(--fw-medium);
     color: var(--primary-clr);
     text-align: center;
 }

 .works-container.active .popup,
 .works-container.active2 .popup,
 .works-container.active3 .popup {
     transform: translateY(0%);
     z-index: 99999999999999;
     opacity: 1;
 }

 .title1,
 .title2,
 .title3 {
     display: none;
 }

 .active .title1,
 .active2 .title2,
 .active3 .title3 {
     display: flex;
 }

 .works-card button {
     cursor: pointer;
     border: none;
     background-color: transparent;
 }

 .images2 {
     display: flex;
     flex-wrap: wrap;
     width: 80%;
     height: 60%;
     gap: 20px;
     align-items: start;
     justify-content: center;
 }

 .images3 {
     display: flex;
     flex-wrap: wrap;
     width: 80%;
     height: 60%;
     gap: 20px;
     align-items: start;
     justify-content: center;
 }

 .images2 img {
     width: 300px;
     border-radius: 10px;
     cursor: pointer;
     transition: 0.5s all;
 }

 .images2 video {
     width: 300px;
     border-radius: 10px;
     cursor: pointer;
     transition: 0.5s all;
 }

 .img2-division {
     width: 100%;
     font-size: var(--fz-300);
     color: var(--neutral-clr);
     font-weight: var(--fw-regular);
     font-family: var(--ff-primary);
     text-align: center;
     margin-top: 50px;
 }

 .img2 {
     display: flex;
     justify-content: center;
        position: relative;
        width: 100%; /* Make the container take up 100% of its parent width */
        height: 0;
        
        padding-bottom: 70%; /* This gives the aspect ratio of 300px width and 533px height */
    
    
    
 }
 .img2 iframe {
    width: 50%;
}


 .images3 .video,
 .images3 img {
     width: 300px;
     border-radius: 10px;
     cursor: pointer;
     transition: 0.5s all;
 }

 .images {
     display: flex;
     gap: 20px;
     flex-wrap: wrap;
     width: 80%;
     align-items: start;
     justify-content: center;
     height: 60%;
 }

 .images .img img {
     width: 300px;
     cursor: pointer;
     border-radius: 10px;
     transition: 0.5s all;
 }

 .images .img {
     transition: 0.5s all;
     position: relative;
 }

 .zoom {
     position: absolute;
     z-index: 99999999;
     top: 45%;
     left: 45%;
     display: none;
     cursor: pointer;
 }

 .images .img:hover .zoom {
     display: block;
 }

 .images .img:hover img,
 .images2 .img2:hover img,
 .vid:hover .video,
 .vid:hover img {
     transform: scale(1.05);
     filter: blur(2px);
 }

 .images .img img:checked {
     width: 50%;
     position: absolute;
     left: 25%;
     top: 20%;
 }

 .images-container {
     margin: 50px 0px;
     display: flex;
     justify-content: center;
     align-items: start;
     overflow-y: scroll;
 }

 .images,
 .images2,
 .images3 {
     display: none;
 }

 .active .images,
 .active2 .images2,
 .active3 .images3 {
     display: flex;
 }

 .images-container::-webkit-scrollbar {
     display: none;
 }

 .tricky {
     animation: moving 1.5s linear infinite;
     position: relative;
     display: flex;
     justify-content: center;
 }

 .tricky button:focus {
     background: transparent;
 }

 .tricky button {
     background-color: transparent;
     color: var(--secondary-clr);
     border: none;
     box-shadow: 0px 0px 20px var(--secondary-clr);
 }

 @keyframes moving {
     0% {
         transform: scale(1);
     }
     50% {
         transform: scale(1.1);
     }
     100% {
         transform: scale(1);
     }
 }

 /*--/Works--*/

 /*--FeedBack--*/

 .feedback {
     display: flex;
     flex-direction: column;
     gap: 150px;
     align-items: center;
     justify-content: center;
 }

 .carousel .carousel-item {
     width: 500px;
     background: linear-gradient(44deg, #131313 0%, #161616 39.00%, #232323 100%);
     border-radius: 10px;
     height: 260px;
     padding: 20px;
     cursor: pointer;
     transition: background 0.7s ease;
 }

 .carousel .carousel-item:hover {
     background: linear-gradient(225deg, #D31E26 0%, #AF131A 100%);
 }

 .testimonial-head {
     display: flex;
     align-items: center;
     gap: 20px;
     margin-bottom: 20px;
 }

 .name- {
     color: var(--primary-clr);
     font-size: var(--fz-200);
     font-weight: var(--fw-bold);
     font-family: var(--ff-primary);
 }

 .tag- {
     color: var(--primary-clr);
     font-size: var(--fz-100);
     font-weight: var(--fw-regular);
     font-family: var(--ff-primary);
 }

 .testimonial-picture img {
     width: 100px;
 }

 .testimonial-body {
     color: var(--primary-clr);
     font-size: var(--fz-50);
     font-weight: var(--fw-regular);
     font-family: var(--ff-primary);
 }

 /*--/FeedBack--*/

 /*--Offers --*/

 .offers {
     display: flex;
     flex-direction: column;
     gap: 70px;
     align-items: center;
     justify-content: center;
 }

 .offer-card {
     position: relative;
     transition: all 0.5s;
     cursor: pointer;
 }

 .offer-card:nth-child(2) {
     transition-delay: 200ms;
 }

 .offer-card:nth-child(3) {
     transition-delay: 400ms;
 }

 .offer-card img {
     transition: all 0.5s;
     border-radius: 10px;
     width: 500px;
 }

 .offers-cards {
     display: flex;
     gap: 50px;
 }

 .offer-card-speech {
     margin: 10px;
     position: absolute;
     top: 5%;
     text-align: center;
     font-family: var(--ff-primary);
     color: var(--primary-clr);
     font-size: var(--fz-50);
     font-weight: var(--fw-light);
     opacity: 0;
     transition: all 0.5s;
     display: flex;
     flex-direction: column;
     transform: translateY(50%);
 }

 .offer-card:hover .offer-card-speech {
     opacity: 1;
     transform: translateY(0%);
 }

 .offer-pricing {
     color: var(--secondary-clr);
     margin-top: 20px;
 }

 .offer-card:hover {
     scale: 1.05;
 }

 .offer-card:hover img {
     opacity: 0.1;
 }

 /*--/Offers --*/

 /*--Contact--*/

 .contact-container {
     background-color: #181818;
     margin-top: 100px;
 }

 .contact {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 60px;
     padding: 100px 0;
 }

 .under-navbar {
     padding-top: 150px;
 }

 .contact-items {
     display: flex;
     gap: 60px;
 }

 .contact-item {
     transition: all 0.5s;
 }

 .contact-item a {
     display: flex;
     justify-content: center;
     cursor: pointer;
 }

 .contact-item:hover svg path {
     fill: var(--secondary-clr);
 }

 .contact-item:hover {
     transform: scale(1.2);
 }

 .contact-speech {
     font-family: var(--ff-primary);
     font-size: var(--fz-50);
     font-weight: var(--fw-light);
     color: var(--primary-clr);
     width: 70%;
     text-align: center;
 }

 .contact-logo {
     transition: 0.5s all;
 }

 .contact-logo:hover {
     transform: scale(1.05);
 }

 /*--/Contact--*/

 /* Style the form container */

 form {
     max-width: 800px;
     margin: 0 auto;
     padding: 20px;
     border: 1px solid #DD1F27;
     background-color: transparent;
     border-radius: 5px;
 }

 /* Style labels and inputs */

 label,
 input,
 textarea {
     display: block;
     margin-bottom: 10px;
     width: 100%;
     font-size: 16px;
     color: white;
 }

 /* Style the submit button */

 input[type="submit"] {
     background-color: #DD1F27;
     color: #fff;
     font-size: 16px;
     border: none;
     padding: 10px 20px;
     cursor: pointer;
     border-radius: 5px;
 }

 /* Add some spacing between elements */

 br {
     margin-bottom: 10px;
 }