.containerTeam {
    position: relative;
    display: inline-block;
    width: 210px;
    margin: 10px; /* Adds some space between the images */
  }
  
  .imgTeam {
    width: 300px;
    border-radius: 25px;
    transition: transform 0.3s ease, filter 0.3s ease, border 0.3s ease, border-radius 0.3s ease;
  }
  
  .text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: 'Poppins', sans-serif;
  }
  
  .nameTeam {
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
  
  .pTeam {
    font-size: 19px;
    margin-top: 5px;
  }
  
  .containerTeam:hover .imgTeam {
    transform: scale(1.2);
    filter: brightness(50%);
    border: 5px solid red;
    border-radius: 25px;
  }
  
  .containerTeam:hover .text-container {
    opacity: 1;
  }
